[
  { kernel,
    [
      { error_logger, false }
    ]
  },
  { sasl,
    [
      { sasl_error_logger, false }
    ]
  },
  { lager,
    [
      { crash_log_count, 5 },
      { crash_log_date, "$D0" },
      { crash_log_size, 104857600 }, % 100 MB
      { crash_log_msg_size, 65536 },
      { crash_log, "crash.log" },
      { handlers,
        [
          { lager_file_backend,
            [ 
              { file, "error.log"},
              { level, error },
              { size, 10485760 },
              { date, "$D0"},
              { count, 5 }
            ]
          },
          { lager_file_backend, 
            [ 
              { file, "console.log"},
              { level, info },
              { size, 10485760 },
              { date, "$D0"},
              { count, 5 }
            ]
          },
          { lager_syslog_backend,
            [ "erlnode", local4, info ]
          }
        ]
      },
      { error_logger_redirect, true }
    ]
  }
].
